# === Build & IDE Files ===
/bin/
/target/
/.metadata/
/.settings/
/.project
.classpath
.factorypath
.apt_generated/
/.vscode/
/tmp/
/.tmp.driveupload/
/gitignore/

# === File Types ===
*.class
*.log
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.bak
*.tmp
*.swp
*.stackdump
Thumbs.db
ehthumbs*.db
Desktop.ini

# === Spring / STS / Eclipse ===
.springBeans
.recommenders/
.loadpath
.externalToolBuilders/
*.launch
.tern-project
.texlipse
.cache-main
.scala_dependencies
.worksheet
